%footer
  .container
    .col-sm-3
      %p
        &copy; 2019
        %a(href="https://codeforafrica.org/") Code for Africa
      %p
        %a(href="mailto:dexter@codeforafrica.org") dexter@codeforafrica.org

    .col-sm-3

    .col-sm-6.text-right

      %a(href="https://codeforafrica.org/", target="_blank")
        %img.logo.partner(src="https://codeforafrica.org/img/logos/c4a.png")
